<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARSE_CLIENT_KEY</key>
	<string>qnqkZMaxg1hWcSEGImDj2bIcmzXjEPtqOM28bRwN</string>
	<key>PARSE_APPLICATION_ID</key>
	<string>LnzreyTbCsBOtSPciqsLntQ5o8kvGC1h2WUDeyv9</string>
</dict>
</plist>
